h1 {
    color: brown;
    font-size: 80px;
    font-style: oblique;
    text-align: center;
}

.top-page {
    background-color:  rgb(182, 174, 159) ;
}

.topnav {
    display: flex;
    margin-right: 20px;
    margin-top: 40px;
    flex-direction: row;
    font-size:x-large;
    height: 50px;
}

hr {
    height: 5px;
    color: rgba(0,0,0,0.6);
}
    
.Name {
    margin-right: auto;
    margin-left: 20px;
    text-decoration:none;
    background-color: rgb(182, 174, 159);
    color:black;
}
    
.Home {
    text-decoration:underline;
    color:black;
}

.Interest {
    text-decoration:underline;
    color: black;
}

.Activity {
    text-decoration:underline;
    color: black;
}

h2 {
    font-size: 50 px;
    font-style: normal;
    text-align: center;
}
h3 {
    font-size: 30 px;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
}
body {
    background-color: rgb(243, 241, 239); width: 300 px; height: 400 px;
}
img {
    width: 30%;
    display: block;
    margin-left:auto ;
    margin-right: auto;
}

.img-desc {
    margin-top: 2%;
    margin-bottom: 3%;
}

.section-1 {
    font-size: x-large;
    font-style: oblique;
    background-color: lightsteelblue;
}

.section-2 {
    font-size: x-large;
    font-style: oblique;
    background-color: lightsteelblue;
}

.first-link{
    text-align: center;
    text-decoration: none;
    color: darkred;
}

.second-link {
    text-align: center;
    text-decoration: none;
    color: darkred;
}

p {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}
span {
    background-color: darkgrey;
}

.list {
    color: maroon;
}

.interest-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.GE-img {
    width: 30%;
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
    margin: 1%;
    margin-left:auto ;
    margin-right: auto;
}

.E-img {
    width: 55%;
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
    margin: 1%;
    margin-left:auto ;
    margin-right: auto;
}

.T-img {
    width: 30%;
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
    margin: 1%;
    margin-left:auto ;
    margin-right: auto;
}

.section-act {
    font-size: 200%;
    text-decoration: none;
}

.activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.connect {
    font-size: 200%;
}

.footer {
    text-decoration: none;
    text-align: center;
    color: black;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}