h1 {
    color: brown;
    font-size: 80px;
    font-style: oblique;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.top-page {
    background-color:  rgb(182, 174, 159) ;
}

.topnav {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    height: 50px;
}

hr {
    border: 0.5px solid rgb(0, 0, 0);
    margin: 0;
}

.btn {
    border:black;
    background-color: brown;
    padding: 10px 10px;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    display: inline-block;
  }

  .Home {
    color:black;
  }
  
  .Home:hover {
    background-color: rgb(128, 34, 34) ;
    color:rgb(243, 241, 239);
  }

  .Interest {
    color:black;
  }
  
  .Interest:hover {
    background-color: rgb(128, 34, 34);
    color:rgb(243, 241, 239);
  }

  .Activity {
    color:black;
  }
  
  .Activity:hover {
    background-color: rgb(128, 34, 34) ;
    color:rgb(243, 241, 239);
  }

  .Connect {
    color:black;
  }
  
  .Connect:hover {
    background-color: rgb(128, 34, 34) ;
    color:rgb(243, 241, 239);
  }
  
.Name {
    font-size: xx-large;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 10px;
    text-decoration:none;
    background-color: rgb(182, 174, 159);
    color:black;
}
    
.Home {
    font-size:x-large;
    text-decoration:none;
    color:black;
}

.Interest {
    font-size:x-large;
    text-decoration:none;
    color: black;
}

.Activity {
    font-size:x-large;
    text-decoration:none;
    color: black;
}

.Connect {
    font-size:x-large;
    text-decoration:none;
    color: black;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    word-break: 120%;
}

h3 {
    font-size: 30 px;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
}

body {
    background-color: rgb(243, 241, 239); width: 300 px; height: 400 px;
    margin: 0;
}
img {
    width: 25%;
    display: block;
    margin-top: 70px;
    margin-left:auto ;
    margin-right: auto;
}

.img-desc {
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.section-11 {
    margin-top: 7%;
    margin-bottom: 7%;
}

.section-1 {
    font-size: xx-large;
    font-style: oblique;
    background-color: lightsteelblue;
}

.section-22 {
    margin-bottom: 5%;
}

.section-2 {
    font-size: xx-large;
    font-style: oblique;
    background-color: lightsteelblue;
}

.first-link{
    margin: 2%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color:black;
    background-color: rgb(182, 174, 159);
}

.second-link {
    margin: 2%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color:black;
    background-color: rgb(182, 174, 159);
}

p {
    text-align: center;
}

.interest-choice {
    margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.GE-img {
    width: 30%;
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
    margin: 1%;
    margin-left:auto ;
    margin-right: auto;
}

.E-img {
    width: 55%;
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
    margin: 1%;
    margin-left:auto ;
    margin-right: auto;
}

.T-img {
    width: 30%;
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
    margin: 1%;
    margin-left:auto ;
    margin-right: auto;
}

.activities {
    margin-bottom: 5%;
}

.act-desc1 {
    width: 140px; 
    border: 1px solid #000000;
    text-align: center;
}

.act-desc2 {
    text-align: center;
    position: absolute;
    top: 296%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.section-3 {
    font-size: xx-large;
    font-style: oblique;
    background-color: lightsteelblue;
}

.section-44 {
    margin-bottom: 0;
    margin-top: 0;
}

.section-4 {
    font-size: xx-large;
    font-style: oblique;
    background-color: lightsteelblue;
}

.socmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5%;
}

.instagram-img {
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
}

.gmail-img {
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
}

.spotify-img {
    background-color: #eed;
    box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
    border-radius:80px;
}

.bottom-page {
    background-color:  rgb(182, 174, 159) ;
    margin: 0;
}

.footer {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color:black;
    font-weight: bold;
}