h1 {
    color: steelblue;
    font-style: italic;
    font-size: 80 px;
    text-align: center;
    margin: 2%;
}

body {
    background-color: honeydew;
}

.T-first-img {
    width: 50%;
    display: block;
    margin-left:auto ;
    margin-right: auto;
    padding: 2%;
}

p {
    font-size: 120 px;
    font-style: initial;
    text-align: center;
}

span {
    background-color: rgb(137, 178, 216);
}